input {
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.weatherDisplay button {
    background: transparent;
    color: white;
    outline: none;
    border: none;
}


.currentForecast {
    margin: 20px;
}

.currentForecast p {
    margin-bottom: 20px;
}

.currentWeather {
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}

.currentForecast img{
    width: 80px;
}

.currentWeather li img {
    width: 10px;

}

.currentWeather li p {
    font-size: 10px;
}