.moviesDisplay {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.moviesTop {
    width: 100%;

}

.moviesTop p {
    opacity: 0.7;
    text-align: center;
    margin: 100%;
    margin: 10px;
    font-size: 14px;
} 

.movies {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
    border-radius: 15px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background: #252525;
    width: 90%;
}

.movieCard img{
    width: 100px;
    border: 2px solid #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}